# Build and IDE artifacts
/build/
/build-*/
/test_build/
/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.user
*.user.*
*.pro.user*
*.qbs.user*
*.vcxproj*
*.sln

# Qt/QtCreator
*.qmlc
*.jsc
*.moc
*.rcc
*.qrc.depends
*.autosave

# Python venv
/venv/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
